[submodule "import/gnucobol"]
	path = import/gnucobol
	url = https://github.com/OcamlPro/gnucobol.git
	branch = gnucobol-3.x
[submodule "vendors/autofonce"]
	path = vendors/autofonce
	url = https://github.com/OCamlPro/autofonce
[submodule "import/gnucobol4"]
	path = import/gnucobol4
	url = https://github.com/OcamlPro/gnucobol.git
	branch = gitside-master
