/superbol-studio-oss
/superbol-vscode-platform
/interop-js-stubs
/node-js-stubs
/vscode-js-stubs
/vscode-languageclient-js-stubs
/vscode-json
/vscode-debugadapter
/vscode-debugprotocol
/superbol-free
/ezlibcob
/tramabol
/autofonce
*~
_build
.merlin
.vscode
/_drom
/_opam
/_build
.drom.config
# Edit drom.toml to change the following lines
/superbol-free-*
/tramabol-*
/_*
/node_modules
/package-json
/package.json.prev
/gnucobol-config
ATTIC
/out
!.vscode/tasks.json
!.vscode/launch.json
*.vsix
/*.js
*.opam.locked
/emacs/lsp-superbol-customs.el
_superbol


