[submodule "import/gnucobol"]
	path = import/gnucobol
	url = https://github.com/OcamlPro/gnucobol.git
[submodule "import/merlin"]
	path = import/merlin
	url = https://github.com/OCamlPro/merlin.git
[submodule "import/superbol-vscode-debug"]
	path = import/superbol-vscode-debug
	url = https://github.com/OCamlPro/superbol-vscode-debug.git
	branch = superbol-vscode-debug
