/superbol-vscode-platform
/polka-js-stubs
/interop-js-stubs
/node-js-stubs
/vscode-js-stubs
/vscode-languageclient-js-stubs
/vscode-json
/vscode-debugadapter
/vscode-debugprotocol
/superbol-free
*~
_build
.merlin
.vscode
/_drom
/_opam
/_build
.drom.config
/dist
/_*
/node_modules
/yarn-error.log
/yarn.lock
/package-json
ATTIC
/out
!.vscode/tasks.json
!.vscode/launch.json
*.vsix
*.opam.locked
/emacs/lsp-superbol-customs.el


