/superbol-vscode-platform
/polka-js-stubs
/interop-js-stubs
/node-js-stubs
/vscode-js-stubs
/vscode-languageclient-js-stubs
/vscode-package-json
/vscode-json
/vscode-debugadapter
/vscode-debugprotocol
/superbol-free
*~
_build
.merlin
.vscode
/_drom
/_opam
/_build
.drom.config
/dist
/node_modules
/yarn-error.log
/yarn.lock
/package-json
ATTIC
/out
!.vscode/tasks.json
!.vscode/launch.json
*.vsix


