name: Main Workflow

# use fields.git-main-branch to change from master
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
        ocaml-compiler:
          - 4.14.2
        skip_test:
          - false
        build_vsix:
          - true

        include:
          - os: ubuntu-latest
            ocaml-compiler: 4.14.0
            skip_test: true
            build_vsix: false


    runs-on: ${{ matrix.os }}

    # use fields.github-workflow-env to add something here

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set git user
        run: |
          git config --global user.name github-actions
          git config --global user.email github-actions-bot@users.noreply.github.com

      - name: Use OCaml ${{ matrix.ocaml-compiler }}
        uses: avsm/setup-ocaml@v3
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}
          opam-pin: false

      - name: Retrieve cache of local opam switch
        uses: actions/cache@v4
        id: cache-opam
        with:
          path: _opam
          key: v4-${{ runner.os }}-superbol-studio-oss-${{ matrix.ocaml-compiler }}-${{ hashFiles('opam/*.opam') }}-skip_tests=${{ matrix.skip_test }}-repo=

      # use fields.opam-repo = "git+https://" to add an 'extra' opam repository

      - run: opam pin add . -y --no-action

      - run: |
          if ${{ matrix.skip_test }}
          then opam install -y opam/*.opam --deps-only
          else opam install -y opam/*.opam --deps-only --with-test
          fi
        if: steps.cache-opam.outputs.cache-hit != 'true'
        name: Run opam install -y opam/*.opam --deps-only [ --with-test ]

      # Use fields.build-scripts to add more scripts to convert here
      - run: dos2unix scripts/*.sh 
        if: matrix.os == 'windows-latest'

      # Use fields.github-workflow-before-build to add something here
      - run: git submodule init

      - run: git submodule update

      - uses: actions/setup-node@v4
        with:
          node-version: '>=16'
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'
        if: matrix.build_vsix


      - run: make build

      # Use fields.github-workflow-after-build to add something here
      - run: make check-package.json

      - run: make dev-deps # install test dependencies
        if: ${{ ! matrix.skip_test }}

      - run: make test
        if: ${{ ! matrix.skip_test }}

      - name: Show test result on failure
        if: failure()
        run: cat _build/_autofonce/results.log

      # Use fields.github-workflow-after-test to add something here
      - run: yarn install && npm install esbuild
        if: matrix.build_vsix

      - run: make vsix-debug
        if: matrix.build_vsix

      - name: Upload VSIX artifact
        uses: actions/upload-artifact@v4
        with:
          name: VSIX-${{ matrix.os }}
          path: superbol-vscode-platform-*.vsix
          compression-level: 0 # no compression (already a zip archive)
        if: matrix.build_vsix

      - run: make vsix-debug TARGET_PLAT=universal
        if: ${{ matrix.build_vsix && matrix.os == 'ubuntu-latest' }}

      - name: Upload universal VSIX artifact
        uses: actions/upload-artifact@v4
        with:
          name: VSIX-universal
          path: superbol-vscode-platform-*-universal-*.vsix
          compression-level: 0 # no compression (already a zip archive)
        if: ${{ matrix.build_vsix && matrix.os == 'ubuntu-latest' }}

      # - name: Check whether source is well formatted
      #   run: make fmt
      #   continue-on-error: true
      #   if: matrix.ocaml-compiler == '4.14.2' && matrix.os == 'ubuntu-latest'

      - name: Build documentation
        if: github.ref == 'refs/heads/master' && matrix.ocaml-compiler == '4.14.2' && matrix.os == 'ubuntu-latest'
        run: |
             sudo apt install -yqq python3-sphinx python3-sphinx-rtd-theme
             opam install -y dune odoc
             make doc
             touch _drom/docs/.nojekyll
             touch _drom/docs/sphinx/.nojekyll
             touch _drom/docs/doc/.nojekyll

      - name: Deploy documentation
        uses: JamesIves/github-pages-deploy-action@3.6.2
        if: github.ref == 'refs/heads/master' && matrix.ocaml-compiler == '4.14.2' && matrix.os == 'ubuntu-latest'
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: _drom/docs/
          CLEAN: true

# Use fields.github-workflow-trailer to add a trailer here


      - name: Cleanup local opam switch before caching
        run: |
          opam pin remove . --yes
          opam clean --switch-cleanup --logs
          find _opam -type f -a \( -name '*.cmt' -o -name '*.cmti' \) -delete
        if: steps.cache-opam.outputs.cache-hit != 'true'
